<!-- <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"> -->
  <!-- <input placeholder="Select date" type="text" id="example" class="form-control"> -->
  <!-- <label for="example">Try me...</label> -->
  <!-- <i class="fas fa-calendar input-prefix" tabindex=0></i> -->
<!-- </div> -->

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="">選擇日期：</label>
            <div class="input-group date" id='date1'>
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- <!doctype html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
  <!-- <meta charset="utf-8"> -->
  <!-- <title>jQuery UI 日期选择器（Datepicker） - 默认功能</title> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
  <!-- <script src="//code.jquery.com/jquery-1.9.1.js"></script> -->
  <!-- <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
  <!-- <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css"> -->
  <!-- <script> -->
  <!-- $(function() { -->
    <!-- $( "#datepicker" ).datepicker(); -->
  <!-- }); -->
  <!-- </script> -->
<!-- </head> -->
<!-- <body> -->
 
<p>日期：<input type="text" id="datepicker"></p>
 
 
</body>
</html>

