<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><a href="#" onclick="getdata('https://www.google.com');">Google</a></p>
    <form action= # method='POST'>
      <label for="username">Username: </label>
      <input type="text" id="user" name="user" />
      <label for="search">Search </label>
      <input type="text" id="search" name="search"  />
      <button id='searchpage'>搜尋</button>
      <input type="submit" value='Submit' />
       </form>
       <script type = "text/javascript">
          getdata =  function(e)  {
               console('in function') ;
               window.open('e') ;

             var userId = document.querySelector('#user');
             var search = document.querySelector('#search');
             var href = e ;
             var info = {"userId": userId
                         "whattosearch" : search
                         "what to click": href               };
            $.ajax({
              type : 'POST',
              url : "/data.html",
              data : JSON.stringify(info),
              dataType: 'json',
              error: function{ alert('error')}
            });
          } ;
       </script>


  </body>


</html>
